#root {
  /* max-width: 1280px; */
  background-color: #131520;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.multiline-truncated {
  display: -webkit-box;        /* Dùng box layout để tạo giới hạn dòng */
  -webkit-line-clamp: 3;       /* Giới hạn hiển thị 3 dòng */
  -webkit-box-orient: vertical; /* Đặt hướng là dọc */
  overflow: hidden;            /* Ẩn phần nội dung vượt quá */
}

/* Thêm phần tử cuộn với background */
.scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #4ACE58 rgba(3,37,65,0.75);
  transition: background-image 0.5s ease; /* Thêm hiệu ứng cho background */
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  z-index: 2;
}
/* Ẩn các nút mũi tên */
.scroll-container::-webkit-scrollbar-button {
  display: none;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #21f00e;
  border-radius: 10px;
}
.scroll-container .movie-item {
  position: relative;
  min-width: 200px;
}

/* Khi hover vào item, thay đổi background của .scroll-container */
.scroll-container .movie-item:hover {
  background-image: var(--movie-backdrop); /* Dùng backdrop_path của movie */
}

@keyframes show {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-show {
  animation: show 0.5s ease-in-out;
}

